.markdown-body {
  color: var(--fgColor-default);

  // Mermaid Container
  .bytemd-mermaid {
    margin-bottom: var(--base-size-16);

    & > svg {
      display: block;
      margin-inline: auto;
    }
  }

  // Math Container
  .math.math-display {
    margin: var(--base-size-16) 0;
  }

  // Code Blocks
  pre code.hljs {
    padding: 0;
    background: transparent;
  }

  // GitHub Alerts
  .markdown-alert .markdown-alert-title .octicon {
    margin-right: var(--base-size-8);
  }

  // Task List
  .task-list-item input[type='checkbox'] {
    margin: 0 0.4em 0.25em -1.6em;
    vertical-align: middle;
  }

  // Footnotes
  a[aria-describedby='footnote-label']::before {
    content: '[';
  }
  a[aria-describedby='footnote-label']::after {
    content: ']';
  }
  #user-content-footnote-label {
    position: relative !important;
    visibility: hidden !important;
    width: 100% !important;
    height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    overflow: visible !important;
    border: none !important;
    // stylelint-disable property-no-deprecated
    clip: auto !important;
    clip-path: none !important;
  }
  #user-content-footnote-label::before {
    display: block;
    visibility: visible !important;
    width: 100%;
    margin-block-end: var(--base-size-16);
    content: '';
    border-top: 1px solid var(--borderColor-default);
  }
  ol:has(> li[id*='user-content-user-content-']) {
    padding-left: var(--base-size-16);
    font-size: 12px;
    color: var(--fgColor-muted);
  }
}
