/* Base on https://github.com/highlightjs/highlight.js/blob/3a8314f11042e80e0c2775e97c65cc2b8c0be646/src/styles/github.css */
.hljs {
  color: var(--fgColor-default);
  background: #fff;
}

.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type {
  color: var(--prettylights-syntax-keyword);
}

.hljs-variable.language_ {
  color: var(--prettylights-syntax-storage-modifier-import);
}

.hljs-title,
.hljs-title.function_ {
  color: var(--prettylights-syntax-entity);
}

.hljs-title.class_,
.hljs-title.class_.inherited__ {
  color: var(--prettylights-syntax-variable);
}

.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-variable,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id {
  color: var(--prettylights-syntax-constant);
}

.hljs-literal .hljs-keyword {
  color: var(--prettylights-syntax-constant);
}

.hljs-regexp,
.hljs-string,
.hljs-meta .hljs-string {
  color: var(--prettylights-syntax-string);
}

.hljs-built_in,
.hljs-symbol {
  color: var(--prettylights-syntax-storage-modifier-import);
}

.hljs-comment,
.hljs-code,
.hljs-formula {
  color: var(--prettylights-syntax-comment);
}

.hljs-name,
.hljs-quote,
.hljs-selector-tag,
.hljs-selector-pseudo {
  color: var(--prettylights-syntax-entity-tag);
}

.hljs-subst {
  color: var(--prettylights-syntax-string);
}

.hljs-section {
  font-weight: bold;
  color: var(--prettylights-syntax-markup-heading);
}

.hljs-bullet {
  color: var(--prettylights-syntax-markup-list);
}

.hljs-emphasis {
  font-style: italic;
  color: var(--prettylights-syntax-markup-italic);
}

.hljs-strong {
  font-weight: bold;
  color: var(--prettylights-syntax-markup-bold);
}

.hljs-addition {
  color: var(--prettylights-syntax-markup-inserted-text);
  background-color: var(--prettylights-syntax-markup-inserted-bg);
}

.hljs-deletion {
  color: var(--prettylights-syntax-markup-deleted-text);
  background-color: var(--prettylights-syntax-markup-deleted-bg);
}

.hljs-char.escape_,
.hljs-link,
.hljs-property,
.hljs-punctuation,
.hljs-tag {
  color: var(--prettylights-syntax-constant);
}

.hljs-params {
  /* purposely ignored */
}
